/* color-teal: #91CCD0  */
/* color-teal-light: #E3F2F3 */
/* color-font-dark: #333 */

/* --------------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------------- */

*,
*::after,
*::before {

  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* now every item in the CSS file
                            will be forced to inherit 
                            from the body declaration */ }

html,
body {
    background-color: #ffffff;
    color: #111;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 62.5%; 
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}



/* --------------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------------- */

.row {
  margin: auto;
  width: 94%;
}

.row__section-header {
  text-align: center;
  margin: 4rem auto;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited {
    font-weight: 400;
    text-decoration: none;
    border-radius: 100px;
    transition: all 0.2s;
    font-size: 1.9rem;
    display: inline-block;
    text-align: center;
    padding-top: 0.8rem;
    height: 3.4rem;
    width: 14.5rem;
}

.btn--small:link,
.btn--small:visited {
    font-weight: 600;
    transition: all 0.2s;
    font-size: 1.4rem;
    padding-top: 0.8rem;
    height: 2.8rem;
    width: 12rem;
}

.btn-full:link,
.btn-full:visited {
    background-color: #91ccd0e1;
    border: solid 2px #ffffff00;
    color: #fff;
}

.btn-full:hover,
.btn-full:active {
    background-color: #74a3a7; 
    color: rgb(233, 233, 233);
    border: solid 2px #ffffff00;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: solid 2px #fdfdfde1;
    color: #fff;
}


.btn-ghost:hover,
.btn-ghost:active {
    border: solid 2px #fff;   
    background-color: #fff;
    color: rgb(75, 75, 75);
}

.btn-ghost--dark:link,
.btn-ghost--dark:visited {
    border: solid 1px #222;
    color: #222;
}


.btn-ghost--dark:hover,
.btn-ghost--dark:active { 
    background-color: #000;
    font-weight: 600;
    color: #E3F2F3;
}

/* ----- HEADINGS/TEXT ----- */
h1, 
h2,
h3,
h4 {
    font-weight: 300;
    /* text-transform: uppercase; */
}

h1 {
  font-size: 5rem;
  display: inline;
  line-height: 8.5rem;
  color: #fff;
  background-color:#91ccd0e1;
}

.h1--small {
  font-size: 3.5rem;
  line-height: 5.8rem;
  background-color:#91ccd0;
}

h1::before,
h1::after {
  content: "";
  display: inline-block;
}

.h1-spacing::before,
.h1-spacing::after {
  content: "";
  display: inline-block;
}

h2 {
  font-size: 2.5rem;
  line-height: 4.5rem;
  font-weight: 300;
  padding: 2rem 0;
}

h3 {
  font-size: 3.8rem;
  font-weight: 300;
  color: #222;
  display: inline-block;
}

h4 {
  font-size: 2.3rem;
  font-weight: 300;
  color: #222;
}

.h4--sub {
  margin-top: 2rem;
  font-size: 2rem;
}

.h4--white {
  color: #fff;
}

p {
  font-size: 1.7rem;
  font-weight: 300;
  color: rgba(0, 0, 0);
  display: inline-block;
}

.p--white {
  color: #fff;
  font-weight: 300;
  font-size: 1.7rem;
}

.header--white {
  color: #fff;
}

/* --------------------------------------------- */
/* HEADER */
/* --------------------------------------------- */

.header-row {
  background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0.3)), url(../../img/hero-tall.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  height: 90vh;
  margin-top: 3%;
  position: relative;
}

.logo {
  color: #fff;
  font-size: 4rem;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.hero-text-box {
  position: absolute;
  color: #fff;
  top: 20rem;
  right: 7vw;
  font-size: 4rem;
  font-weight: 300;
  display: inline-block;
  text-align: right;
}

/* main navi */

.main-nav {
  float: right;
  list-style: none;
  margin-top: 6rem;
  position: relative;
  right: 5rem;
}

.main-nav li {
  display: inline-block;
  margin-left: 4rem;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 1rem 1rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.0rem;
  font-weight: 400;
  transition: all 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  background-color: hsl(184, 40%, 69%);
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 16px 0px;
  text-decoration: none;
  color: #555555;
}

/* Mobile navi */

.mobile-nav-icon {
  float: right;
  margin-right: 4.5rem;
  margin-top: 5.4rem;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon ion-icon {
  font-size: 3.5rem;
  color: #fff;
}


/* --------------------------------------------- */
/* ABOUT */
/* --------------------------------------------- */

.section-about {
  margin-top: 1.9%;
}

.about {
  overflow: hidden;
  background-color: #E3F2F3;
  height: 65rem;
  text-align: center;
  position: relative;
}

.about__photo {
  background-image: url(../../img/family.jpeg);
  background-size: cover;
  background-position: center;
}

.about__text {
  position: absolute;
  margin: 0 20%;
  top: 50%;
  transform: translateY(-50%);
  /* left: 50%;
  transform: translate(-50%, -50%); */
}

.about__text h3 {
  padding-bottom: 3rem;
}

.btn__about {
  margin-top: 4rem;
}

/* --------------------------------------------- */
/* SERVICE */
/* --------------------------------------------- */

.section-services {
  padding: 1.6% 0 3% 0;
  background-color: rgb(244, 244, 244);
  width: 94%;
  margin: auto;
  margin-top: 3.5%;
}

.row__section-header--services {
  margin-bottom: 1rem;
}

.service-box {
  height: 50rem;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}

.service-box__bg-image {
  background-position: top;
  background-size: cover;
  transition: all 0.2s;
}

.service-box__text-container {
  position: absolute;
  top: 0;
  padding: 0 15%;
  display: table;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
  height: 50rem;
  transition: .2s;
}

.service-box__text-container--cell {
  display: table-cell;
  vertical-align: middle;
}

.white-header--hidden {
  background-color: #91ccd000;
  color: #ffffff00;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.white-paragraph-hidden {
  color: #ffffff00;
}

/* ----- PERSONAL TRAINING ----- */

.service-box__bg-image--private-training {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/core-training.png);
}

/* ----- NUTRITION COACH ----- */

.service-box__bg-image--nutrition-coach {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/nutrition.png);
}

.p--white__nutrition-coach {
  font-size: 1.6rem;
}

/* ----- DNA BASED ----- */

.service-box__bg-image--dna-based {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../img/dumbell-rack.png);
}

/* --------------------------------------------- */
/* PRICING */
/* --------------------------------------------- */

.section-pricing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../img/plank.png);
  background-attachment: fixed;
  background-size: cover;
  width: 94%;
  margin: auto;
  margin-top: 3.5%;
  padding: 6rem 0 15rem 0;
}

.row--pricing {
  max-width: 75rem;
}

.price-box {
  text-align: center;
  height: 20rem;
  display: table;
  background-color: rgba(244, 244, 244, 0.88);
}

.price-box--cell {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  padding: 0rem 3rem;
}

.price {
  display: block;
  margin-bottom: 0.8rem;
}

.description {
  display: block;
}

.description-sub {
  display: block;
  font-size: 1.3rem;
}

.savings {
  background-color: #f9ca24;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0 1rem;
  position: relative;
  bottom: .7rem
}

.nutrition-icon,
.timer-icon,
.barbell-icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: #555;
}

.timer-icon {
  margin-top: 1.6rem;
}

.barbell-icon {
  font-size: 2.5rem;
  color: #666;
}

.dna-icon {
  transform: rotate(45deg);
  height: 2.6rem;
  margin-top: 1.7rem;
}

.price-box--rounded {
 border-radius: .5rem;
}

.price-box--recommended {
  border: rgb(105, 181, 75) solid 0.8rem;
  border-radius: .5rem;
}

/* --------------------------------------------- */
/* CONTACT */
/* --------------------------------------------- */

.section-contact {
  margin-top: 3.5%;
  margin-bottom: 1.6%;
  height: 40rem;
}

.contact__container {
  background-color: rgb(244, 244, 244);
  height: 40rem;
  position: relative;
  bottom: 2rem;
}

.contact__text-container {
  height: 40rem;
}

.contact__text-container--cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  bottom: 2%;
  padding: 0 6rem;
}

.contact__field {
  padding: 1.2rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: solid 1px black;
  background-color: rgb(244, 244, 244);
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.7rem;
  resize: none;
}

input:hover,
textarea:hover {
  border: solid 1px #000;
}

input:focus,
textarea:focus {
  outline: none;
  border: solid 1px #000;
}

input:focus:required:invalid {border: 2px solid red;}
input:required:valid { border: 2px solid black; }

.contact__submit-button {
  width: 100%;
  height: 4.5rem;
  border: none;
  color: #fff;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 2rem;
  background-color: #000000;
  transition: all 0.2s;
}

.contact__submit-button:hover {
  background-color: #5b5b5b;
  cursor: pointer;
}

/* --------------------------------------------- */
/* FOOTER*/
/* --------------------------------------------- */

.footer {
  height: 20rem;
  display: inline-block;
}

.footer-content-container {
  padding-top: 4rem;
  height: 8rem;
  text-align: center;
  font-weight: 400;
}

.phone {
  font-weight: 400;
}

.social {
  font-size: 1.8rem;
  margin: 2rem 1rem;
}

.copy-container {
  margin: auto;
}

.copyright {
  font-size: 1.2rem;
}